.register {
  background: url(./bg.svg) no-repeat center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.registerWrap {
  background: #33333399;
  border-radius: 15px;
  padding: 50px;
  max-width: max-content;
  margin: 0 auto;
}

.titleWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: white;
  font-size: 53px;
  margin: 0;
}

hr {
  background: white;
  width: 80%;
  height: 4px;
  margin-top: 10px;
}

.registerTitle {
  color: white;
  font-size: 42px;
  margin: 10px 0 0 0;
}

.form {
  display: grid;
  gap: 16px;
  margin-top: 50px;
  max-width: 500px;
  width: 100%;
}

.confPassWrap {
  display: flex;
  gap: 16px;
}

/* Media */

@media (max-width: 540px) {
  .registerWrap {
    padding: 20px;
  }

  .title {
    font-size: 44px;
  }

  .registerTitle {
    font-size: 38px;
  }

  .form {
    margin-top: 50px;
  }
}

@media (max-width: 440px) {
  .title {
    font-size: 38px;
  }

  .registerTitle {
    font-size: 34px;
  }

  .form {
    margin-top: 30px;
  }
}

@media (max-width: 370px) {
  .confPassWrap {
    display: grid;
  }
}

@media (max-width: 330px) {
  .title {
    font-size: 32px;
  }

  .registerTitle {
    font-size: 30px;
  }
}
