.dropDown
  position: relative
  &__title
    display: flex
    align-items: center
    gap: .9375rem
    cursor: pointer
    padding: 20px
  &__list
    padding: .9375rem
    border-radius: .75rem
    position: fixed
    right: -300px
    margin-top: 50px
    display: flex
    align-items: center
    justify-content: center
    gap: .9375rem
    flex-direction: column
    transition: .6s all
    overflow: hidden
    border-top-right-radius: 0
    border-bottom-right-radius: 0
    background: #fc0
    color: #fff
    > *
      cursor: pointer
      padding: .9375rem
      border-radius: .75rem
      transition: .6s all
      &:hover
        background: #fff
        color: #fc0
.active
  right: 0

.img
  width: 50px
