.container
  margin: 20px auto
  display: flex
  flex-direction: column
  padding: 50px
  padding-bottom: 0px
  justify-content: center
  align-items: center
  gap: 25px
  width: 100%
.wrapper
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr))
  justify-content: space-between
  gap: 150px
  width: 100%
  &__cards
    display: flex
    flex-direction: column
    gap: 25px
    text-align: center
.card
  flex-wrap: wrap
  display: flex
  gap: 20px
  overflow-y: scroll
  max-height: 770px
  width: 100%
.text
  color: #333333
  text-align: center
.span
  font-size: 24px
.btn
  color: #f0f0f0
  background-color: #ffcc00
  font-size: 20px
.changeCategory
  display: flex
  justify-content: space-between
  flex-direction: row
  gap: 20px

@media screen and (max-width: 1120px)
  .wrapper
    gap: 20px
  .btn
    font-size: 16px
@media screen and (max-width: 920px)
  .container
    justify-content: space-between
  .changeCategory
    flex-direction: column

@media screen and (max-width: 620px)
  .wrapper
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr))
