.wrapper
  display: flex
  flex-direction: column
  text-align: center
  height: 100vh
  padding: 50px
  gap: 50px
  background: #ffcc00
  &__title
    color: #333333 !important
  &__cards
    width: 100%
    gap: 20px
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr))
