.container
    max-width: 1280px
    margin: 20px auto
    display: flex
    flex-direction: column
    gap: 10px

    .cards
        display: grid
        grid-template-columns: repeat(3, 1fr)
        gap: 20px

    .card
        background: #555
        color: #f3f3f3
        text-align: center
        padding: 10px 15px
        border-radius: 10px
        display: flex
        flex-direction: column
        gap: 10px

    .input
        width: 100%
        color: #555
        font-size: 1rem

    .button
        width: 100%
        font-size: 20px
        background: #ffcc00
        transition: .2s
        color: #f3f3f3
        font-weight: 600

        &:hover
            cursor: pointer
            background: #917a1f


    .cancel-btn, .add-btn
        padding: 10px
        font-size: 1rem
        font-weight: 600


    .cancel-btn
        background: red

    .add-btn
        background: #ffcc00
