.Panel
  padding: 50px
  width: 100%
  &__Stats
    display: flex
    gap: 20px
    padding: 5px
    width: 100%
    justify-content: center
    align-items: center
    background: #fff
    flex-wrap: wrap
