.auth
  &__wrap
    height: 100vh
    background: url(./bg.svg) no-repeat center
    background-size: cover
    display: flex
    align-items: center
    justify-content: center
    padding: 25px
    > div
      width: max-content
      height: max-content
      margin: auto
  &__content
    background: #33333399
    border-radius: 2rem
    padding: 3.4375rem
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    margin-top: -70px
  &__title
    display: flex
    flex-direction: column
    align-items: center
    color: #fff
    max-height: 150px
    > h3
      color: white
      font-size: 3.3125rem
      margin: 0
    > hr
      background: white
      width: 100%
      min-height: 0.25rem
      margin-top: 0.625rem
    > h4
      color: white
      font-size: 2.625rem
      margin: 0.3125rem 0 0 0
  &__pass
    position: relative
  &__hint
    margin-top: 1.5625rem
    color: white
    text-align: center
    a
      text-decoration: underline
      color: #fc0
  &__showPassword
    color: #fff !important
    position: absolute !important
    top: .3125rem
    right: .9375rem
    z-index: 2
  &__form
    display: grid
    gap: 1.625rem
    max-width: 31.25rem
    width: 100%
    margin-top: 3.4375rem
    > button
      background: #fff !important
      color: #000
      &:hover
        background: #333 !important
        color: #fc0 !important
  /* Media */
